
$primary-color: #FAF3E0;
$secondary-color: #9B1C31 ;


body {
    background-color: $primary-color !important;
    font-family: 'Arial', sans-serif;

}
.welcome-MudContainer {
    margin: 2rem 0rem;
    color: $secondary-color;
}